@page "/"

<h1>Hello, I'm Aaron Jones!</h1>

This is my new website I have created using Blazor. I am in the basic stages of the website, but I sure hope that you enjoy what I have. Try the counter featured on the website.

<SurveyPrompt Title="How is Blazor working for you? We hope you enjoy it." />

<SurveyPrompt Title="This is a test of a new Title. If you can see it, it worked. :)" />

<Counter IncrementAmount="10" />
